<div>
    <div class="modal-header">
        <span class="modal-title huge">{{title}}</span>
        <button class="pull-right close" ng-click="cancel()">&times;</button>
    </div>
    <div class="modal-body">
        <orderform order='dataObject'> </orderform>
    </div>
    <!-- <div class="modal-footer">
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button> 
    </div>-->
    <style>
    .huge{
        font-weight: bold;
        font-size: 2em;
    }
    .modal-dialog{
        width: 70%;
    }
    .modal-body-c{
        height: 390px;
        overflow: auto;
        padding: 15px;
    }
    .btncontainer{

    }
    </style>
</div>