<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12" id="devloperV">
    </div>
    <h2 style="text-align:center;">
      Sign In Form
    </h2>
    <div class="col-sm-12">
      <form class="form form-horizontal col-sm-12" name="form" ng-submit="login(form)" novalidate>
        <div class="form-group">
          <label class='col-lg-2 col-sm-12 col-md-2 control-label'>Mobile number</label>
            <div class="input-group col-sm-12 col-md-10 col-lg-10">
              <div class="input-group-addon">+91</div>
              <input type="number" name="mobile" class="form-control" ng-model="user.mobile" required placeholder="Mobile number"
              ng-minlength=10
              ng-maxlength=10
              >
              <div class="input-group-addon glyphicon glyphicon-phone" style="top:0px;"></div>
            </div>
        </div>

        <div class="form-group">
          <label class='col-lg-2 col-md-2 col-sm-12 control-label'>Password</label>
          <div class="input-group col-md-10 col-sm-12 col-xs-12 col-lg-10">
            <input type="password" name="password" class="form-control" ng-model="user.password" required placeholder="Password">
          </div>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.mobile.$error.required && form.password.$error.required && submitted">
             Please enter your mobile number and password.
          </p>
          <p class="help-block"
             ng-show="(form.mobile.$error.minlength || form.mobile.$error.maxlength) && submitted">
            Mobile numeber must 10 characters.
          </p>
          <p class="help-block"
             ng-show="form.mobile.$error.number && submitted">
            Mobile numeber must be number
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>
        <div style="text-align:center;">
          <button class="btn btn-success btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-primary btn-register" href="/signup">
            Register
          </a>
        </div>
<!--         <div>
          <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
            <i class="fa fa-facebook"></i> Connect with Facebook
          </a>
          <a class="btn btn-google-plus" href="" ng-click="loginOauth('google')">
            <i class="fa fa-google-plus"></i> Connect with Google+
          </a>
          <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
            <i class="fa fa-twitter"></i> Connect with Twitter
          </a>
        </div> -->
      </form>
    </div>
  </div>
  <hr>
</div>
