<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div style="height:305px;">
    <carousel interval="5000" no-wrap="false">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="{{slide.image}}" style="margin:auto; height:305px;">
        <div class="carousel-caption">
          <h4>{{slide.text}}</h4>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="container">
    <h1>Baki Time mey kya karta hai?</h1>
    <!--p class="lead">Kick-start your next work with web workers</p-->
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class="container">

  <!-- <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->
</div>

<footer class="footer nonvisable" >
  <div class="container">
      <p><!-- Angular Fullstack v2.0.13 -->Follow us |
        <a href="https://fb.com/tyhenkel">Facebook</a> |
        <a href="https://twitter.com/tyhenkel">@Twitter</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Google+</a></p>
  </div>
</footer>
