<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="col-sm-6 left-Btn">
    <button type="button" class="btn btn-success btn-primary btn-block" ng-click="addUser('lg')"><span class="glyphicon glyphicon-user">   Create New User</span></button>
  </div>
  <div class="col-sm-6 right-Btn">
    <button type="button" class="btn btn-success btn-primary btn-block" ng-click="addAdmin('lg')"><span class="glyphicon glyphicon-user">   Create New Admin</span></button>
  </div>
	<label>admin map</label>
  <div id="adminmap" class="col-sm-12" style="height: 400px;"></div>
  <hr />
  <label>Worker map</label>
  <div id="workermap" class="col-sm-12" style="height: 400px;"></div>
  <hr />
	<label>Orders map</label>
	<div id="ordermap" class="col-sm-12" style="height: 400px;">  </div>
<hr />

  <!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="order in awesomeOrders">
        <li><a href="#" tooltip="{{order.typeOfShift}}">{{order.typeOfWork}}<button type="button" class="close" ng-click="deleteOrder(order)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="order-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new order here." ng-model="newOrder">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addOrder()">Add New</button>
      </span>
    </p>
  </form>
</div> -->
<style>
   @media screen and (min-width: 770px) {
    .left-Btn{
      padding-left:0px;
    }
    .right-Btn{
      padding-right:0px;
    }
   }
   .right-Btn,.left-Btn{
      margin-bottom: 10px;
   }
</style>
</div>