<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 ng-show="addadminbtn">Adding new admin</h1>
      <h1 ng-show="editadminbtn">Editing user</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
                                            'has-error': form.name.$invalid && submitted }">
          <label>Name</label>
          <input type="text" name="name" class="form-control" ng-model="admin.name"
                 required placeholder="Name"/>
          <p class="help-block" ng-show="form.name.$error.required && submitted">
            Tell us your name
          </p>
        </div>
        <div class="form-group" ng-class="{ 'has-success': form.mobile.$valid && submitted,
                                            'has-error': form.mobile.$invalid && submitted }">
          <label>Mobile number</label>
          <div class="input-group">
            <div class="input-group-addon">+91</div>
            <input type="number" name="mobile" class="form-control" ng-model="admin.mobile"
                   required 
                   ng-minlength=10
                   ng-maxlength=10
                   placeholder="Mobile number"
                   />
            <div class="input-group-addon glyphicon glyphicon-phone"></div>
          </div>
          <p class="help-block" ng-show="form.mobile.$error.required && submitted">
            Mobile should not empty
          </p>
          <p class="help-block"
             ng-show="(form.mobile.$error.minlength || form.mobile.$error.maxlength) && submitted">
            Mobile numeber must 10 characters.
          </p>
          <p class="help-block"
             ng-show="form.mobile.$error.number && submitted">
            Mobile numeber must be number
          </p>
          <p class="help-block" ng-show="form.mobile.$error.mongoose">
            {{ errors.mobile }}
          </p>
        </div>
 
        <div  class="form-group"  ng-show="addadminbtn" ng-class="{ 'has-success': form.password.$valid && submitted,
                                            'has-error': form.password.$invalid && submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="admin.password"
                 ng-minlength="3"
                 required
                 mongoose-error
                 placeholder="Password"/>
          <p class="help-block"
             ng-show="form.password.$error.required && submitted">
            Set your password
          </p>
          <p class="help-block"
             ng-show="form.password.$error.minlength && submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.password }}
          </p>
        </div>
        <div pinlocation lat={{admin.location.lat}} lng={{admin.location.lng}} status={{admin.status}}></div>
        <div class="form-group"
                                ng-class="{ 'has-success': form.gender.$valid && submitted,
                                            'has-error': form.gender.$invalid && submitted }">
          <label>Gender</label>
          <div class="row">
            <div class="col-lg-6">
                <label class="form-control">
                    <input type="radio"  name="gender" value="male" 
                            ng-model="admin.gender" 
                            required />
                    Male
                </label>
            </div>
            <div class="col-lg-6">
                <label class="form-control">
                    <input type="radio" name="gender" value="female"
                           ng-model="admin.gender" 
                           required />
                    Female
                </label>
            </div>
              <p class="help-block" ng-show="form.gender.$error.required && submitted">
                What's your gender?
              </p>
          </div>
        </div>
        <div>
            <a class="btn btn-inverse btn-lg" ng-show="addadminbtn"  ng-click="addAdmin(form)">
              Add Admin
            </a>
            <a class="btn btn-inverse btn-lg" ng-show="editadminbtn" ng-click="updateAdmin(admin)">
              Save Changes
            </a>
            <a class="btn btn-lg" ng-click="closeModel()">
              Cancel
            </a>


        </div>
    </form>
    </div>
  </div>
  <hr>
</div>
